{% extends 'app.html'%}

{% load static %}

{% block content%}
{% include 'sidebar.html' %}

<style>
    /* Style the tab */
    .tab {
        overflow: hidden;
        border-bottom: 1px solid #ccc;
    }

    /* Style the buttons inside the tab */
    .tab button {
        background-color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        border-bottom: 5px solid #4267B2;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        border-bottom: 5px solid #4267B2;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border-top: none;
    }
</style>

<!-- Start Page Content -->
<div class="col d-flex flex-column vh-100">
    <main class=" row overflow-auto p-3">
        <h3 class="text-theme">Inventory</h3>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Inventory</li>
            </ol>
        </nav>


        <div class="row">
            <div class="col-lg-4 p-1">
                <div class="bg-white text-theme p-3 shadow">
                    <div>
                        <h4>Books On-Shelf</h4>
                        <h3>
                            <span class="bx bx-face"></span>
                            <span id="on-shelf">0</span>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 p-1">
                <div class=" bg-white text-theme p-3 shadow">
                    <div>
                        <h4>Books On-Cart</h4>
                        <h3>
                            <span class="bx bx-user"></span>
                            <span id="on-cart">0</span>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 p-1">
                <div class=" bg-white text-theme p-3 shadow">
                    <div>
                        <h4>Borrowed Books</h4>
                        <h3>
                            <span class="bx bx-book"></span>
                            <span id="borrowed-books">0</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-3">
            <div class="shadow bg-light p-3">
                <h3>Book List</h3>

                <div class="d-flex justify-content-start mb-3">
                    <a class="btn btn-theme" href="/reports/book-inventory" target="popup"><span class="bx bx-printer"></span> Print Report</a>
                </div>

                {% if messages %}
                {% for message in messages %}
                {% include 'alert.html' %}
                {% endfor %}
                {% endif %}

                <div class="tab">
                    <button class="tablinks" onclick="openTab(event, 'tab_0')" id="defaultOpen">Non-Archived
                        Books</button>
                    <button class="tablinks" onclick="openTab(event, 'tab_1')">Archived Books</button>
                    <button class="tablinks" onclick="openTab(event, 'tab_2')">Reserved Circulation</button>
                </div>

                <div id="tab_0" class="tabcontent">
                    <div class="table-responsive">
                        <table class="table table-striped " id="books">
                            <thead class="bg-theme text-white">
                                <tr>
                                    <th scope="col">Barcode</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">On-Shelf</th>
                                    <th scope="col">On-Cart</th>
                                    <th scope="col">Borrowed</th>
                                    <th scope="col">- - -</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for book in books %}
                                <tr>
                                    <td scope="row">{{book.barcode}}</td>
                                    <td>{{book.category.name}}
                                    </td>
                                    <td>{{book.title}}</td>
                                    <td>{{book.available_quan}}</td>
                                    <td>{{book.get_on_cart}}</td>
                                    <td>{{book.get_borrowed}}</td>
                                    <td>
                                        <button class="btn btn-sm btn-success" data-bs-toggle="modal"
                                            data-bs-target="#detail" barcode={{book.barcode}}
                                            category='{{book.category.name}}' title='{{book.title}}'
                                            authors='{{book.authors}}' available_quan={{book.available_quan}}
                                            on_cart={{book.get_on_cart}} borrowed={{book.get_borrowed}}
                                            publish_date='{{book.publish_date}}'>
                                            <span class="bx bx-file-blank"></span> Details</button>
                                        <a class="btn btn-sm btn-theme" href="books/{{book.barcode}}/edit"><span
                                                class="bx bx-edit"></span> Edit</a>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="tab_1" class="tabcontent">
                    <div class="table-responsive">
                        <table class="table table-striped " id="archived">
                            <thead class="bg-theme text-white">
                                <tr>
                                    <th scope="col">Barcode</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">On-Shelf</th>
                                    <th scope="col">On-Cart</th>
                                    <th scope="col">Borrowed</th>
                                    <th scope="col">- - -</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for arch in archived %}
                                <tr>
                                    <td scope="row">{{arch.barcode}}</td>
                                    <td>{{arch.category.name}}
                                    </td>
                                    <td>{{arch.title}}</td>
                                    <td>{{arch.available_quan}}</td>
                                    <td>{{arch.get_on_cart}}</td>
                                    <td>{{arch.get_borrowed}}</td>
                                    <td>
                                        <button class="btn btn-sm btn-success" data-bs-toggle="modal"
                                            data-bs-target="#detail" barcode={{arch.barcode}}
                                            category='{{arch.category.name}}' title='{{arch.title}}'
                                            authors='{{arch.authors}}' available_quan={{arch.available_quan}}
                                            on_cart={{arch.get_on_cart}} borrowed={{arch.get_borrowed}}
                                            publish_date='{{arch.publish_date}}'>
                                            <span class="bx bx-file-blank"></span> Details</button>
                                        <a class="btn btn-sm btn-theme" href="books/{{arch.barcode}}/edit"><span
                                                class="bx bx-edit"></span> Edit</a>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="tab_2" class="tabcontent">
                    <div class="table-responsive">
                        <table class="table table-striped " id="reserved">
                            <thead class="bg-theme text-white">
                                <tr>
                                    <th scope="col">Barcode</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">On-Shelf</th>
                                    <th scope="col">On-Cart</th>
                                    <th scope="col">Borrowed</th>
                                    <th scope="col">- - -</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in reserved %}
                                <tr>
                                    <td scope="row">{{res.barcode}}</td>
                                    <td>{{res.category.name}}
                                    </td>
                                    <td>{{res.title}}</td>
                                    <td>{{res.available_quan}}</td>
                                    <td>{{res.get_on_cart}}</td>
                                    <td>{{res.get_borrowed}}</td>
                                    <td>
                                        <button class="btn btn-sm btn-success" data-bs-toggle="modal"
                                            data-bs-target="#detail" barcode={{res.barcode}}
                                            category='{{res.category.name}}' title='{{res.title}}'
                                            authors='{{res.authors}}' available_quan={{res.available_quan}}
                                            on_cart={{res.get_on_cart}} borrowed={{res.get_borrowed}}
                                            publish_date='{{res.publish_date}}'>
                                            <span class="bx bx-file-blank"></span> Details</button>
                                        <a class="btn btn-sm btn-theme" href="books/{{res.barcode}}/edit"><span
                                                class="bx bx-edit"></span> Edit</a>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal Content -->
        <div class="modal fade" id="detail" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Book Detail</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label class="col-form-label">Barcode: </label>
                                <input class="form-control" id="barcode" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">Category</label>
                                <input class="form-control" id="category" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="col-form-label">Title</label>
                                <input class="form-control" id="title" readonly>
                            </div>

                            <div class="mb-3">
                                <label class="col-form-label">Authors</label>
                                <input class="form-control" id="authors" readonly>
                            </div>

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="col-form-label">Available</label>
                                        <input class="form-control" id="available_quan" readonly>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="col-form-label">On-Cart</label>
                                        <input class="form-control" id="on_cart" readonly>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="col-form-label">Borrowed</label>
                                        <input class="form-control" id="borrowed" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="col-form-label">Publish Date</label>
                                <input class="form-control" id="publish_date" readonly>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-theme" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<!-- End Page Content -->

<script>
    async function get_student_count() {
        const response = await fetch('/api/v1/inventory?type=on-shelf');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('on-shelf').innerText = data['count']
    }
    get_student_count()

    async function get_teacher_count() {
        const response = await fetch('/api/v1/inventory?type=on-cart');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('on-cart').innerText = data['count']
    }
    get_teacher_count()

    async function get_book_count() {
        const response = await fetch('/api/v1/inventory?type=borrowed');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('borrowed-books').innerText = data['count']
    }
    get_book_count()
</script>


<script>
    $('#books').dataTable({
        "ordering": false,

    });

    $('#archived').dataTable({
        "ordering": false,

    });

    $('#reserved').dataTable({
        "ordering": false,

    });
</script>

<script>
    const modal = document.getElementById('detail')
    modal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget
        // Extract info from data-bs-* attributes

        const barcode = button.getAttribute('barcode')
        const category = button.getAttribute('category')
        const title = button.getAttribute('title')
        const authors = button.getAttribute('authors')
        const available_quan = button.getAttribute('available_quan')
        const on_cart = button.getAttribute('on_cart')
        const borrowed = button.getAttribute('borrowed')
        const publish_date = button.getAttribute('publish_date')
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.

        barcode_text = modal.querySelector('#barcode')
        category_text = modal.querySelector('#category')
        title_text = modal.querySelector('#title')
        authors_text = modal.querySelector('#authors')
        available_quan_text =  modal.querySelector('#available_quan')
        on_cart_text = modal.querySelector('#on_cart')
        borrowed_text =  modal.querySelector('#borrowed')
        publish_date_text = modal.querySelector('#publish_date')

        barcode_text.value = barcode
        category_text.value = category
        title_text.value = title
        authors_text.value= authors
        available_quan_text.value= available_quan
        on_cart_text.value = on_cart
        borrowed_text.value = borrowed
        publish_date_text.value = publish_date
    })
</script>



<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

{%endblock content%}