{% extends 'app.html'%}

{% load static %}

{% block content%}
{% include 'sidebar.html' %}

<style>
    /* Style the tab */
    .tab {
        overflow: hidden;
        border-bottom: 1px solid #ccc;
    }

    /* Style the buttons inside the tab */
    .tab button {
        background-color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        border-bottom: 5px solid #4267B2;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        border-bottom: 5px solid #4267B2;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border-top: none;
    }
</style>

<!-- Start Page Content -->
<div class="col d-flex flex-column vh-100">
    <main class=" row overflow-auto p-3">
        <h3 class="text-theme">Inventory</h3>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Inventory</li>
            </ol>
        </nav>


        <div class="row">
            <div class="col-lg-4 p-1">
                <div class="bg-white text-theme p-3 shadow">
                    <div>
                        <h4>Books On-Shelf</h4>
                        <h3>
                            <span class="bx bx-face"></span>
                            <span id="on-shelf">0</span>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 p-1">
                <div class=" bg-white text-theme p-3 shadow">
                    <div>
                        <h4>Books On-Cart</h4>
                        <h3>
                            <span class="bx bx-user"></span>
                            <span id="on-cart">0</span>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 p-1">
                <div class=" bg-white text-theme p-3 shadow">
                    <div>
                        <h4>Borrowed Books</h4>
                        <h3>
                            <span class="bx bx-book"></span>
                            <span id="borrowed-books">0</span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-3">
            <div class="shadow bg-light p-3">
                <h3>Book List</h3>

                {% if messages %}
                {% for message in messages %}
                {% include 'alert.html' %}
                {% endfor %}
                {% endif %}

                <div class="tab">
                    <button class="tablinks" onclick="openTab(event, 'tab_0')" id="defaultOpen">Non-Archived
                        Books</button>
                    <button class="tablinks" onclick="openTab(event, 'tab_1')">Archived Books</button>
                    <button class="tablinks" onclick="openTab(event, 'tab_2')">Reserved Circulation</button>
                </div>

                <div id="tab_0" class="tabcontent">
                    <div class="table-responsive">
                        <table class="table table-striped " id="books">
                            <thead class="bg-theme text-white">
                                <tr>
                                    <th scope="col">Barcode</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">On-Shelf</th>
                                    <th scope="col">On-Cart</th>
                                    <th scope="col">Borrowed</th>
                                    <th scope="col">- - -</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for book in books %}
                                <tr>
                                    <td scope="row">{{book.barcode}}</td>
                                    <td>{{book.category.name}}
                                    </td>
                                    <td>{{book.title}}</td>
                                    <td>{{book.available_quan}}</td>
                                    <td>{{book.get_on_cart}}</td>
                                    <td>{{book.get_borrowed}}</td>
                                    <td>
                                        <a class="btn btn-sm btn-success" href="students/{{student.user.id_no}}"><span
                                                class="bx bx-file-blank"></span> Details</a>
                                        <a class="btn btn-sm btn-theme" href="books/{{book.barcode}}/edit"><span
                                                class="bx bx-edit"></span> Edit</a>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="tab_1" class="tabcontent">
                    <div class="table-responsive">
                        <table class="table table-striped " id="archived">
                            <thead class="bg-theme text-white">
                                <tr>
                                    <th scope="col">Barcode</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">On-Shelf</th>
                                    <th scope="col">On-Cart</th>
                                    <th scope="col">Borrowed</th>
                                    <th scope="col">- - -</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for arch in archived %}
                                <tr>
                                    <td scope="row">{{arch.barcode}}</td>
                                    <td>{{arch.category.name}}
                                    </td>
                                    <td>{{arch.title}}</td>
                                    <td>{{arch.available_quan}}</td>
                                    <td>{{arch.get_on_cart}}</td>
                                    <td>{{arch.get_borrowed}}</td>
                                    <td>
                                        <a class="btn btn-sm btn-success" href="students/{{student.user.id_no}}"><span
                                                class="bx bx-file-blank"></span> Details</a>
                                        <a class="btn btn-sm btn-theme" href="books/{{arch.barcode}}/edit"><span
                                                class="bx bx-edit"></span> Edit</a>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="tab_2" class="tabcontent">
                    <div class="table-responsive">
                        <table class="table table-striped " id="reserved">
                            <thead class="bg-theme text-white">
                                <tr>
                                    <th scope="col">Barcode</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">On-Shelf</th>
                                    <th scope="col">On-Cart</th>
                                    <th scope="col">Borrowed</th>
                                    <th scope="col">- - -</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in reserved %}
                                <tr>
                                    <td scope="row">{{res.barcode}}</td>
                                    <td>{{res.category.name}}
                                    </td>
                                    <td>{{res.title}}</td>
                                    <td>{{res.available_quan}}</td>
                                    <td>{{res.get_on_cart}}</td>
                                    <td>{{res.get_borrowed}}</td>
                                    <td>
                                        <a class="btn btn-sm btn-success" href="students/{{student.user.id_no}}"><span
                                                class="bx bx-file-blank"></span> Details</a>
                                        <a class="btn btn-sm btn-theme" href="books/{{res.barcode}}/edit"><span
                                                class="bx bx-edit"></span> Edit</a>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>



    </main>
</div>
<!-- End Page Content -->

<script>
    async function get_student_count() {
        const response = await fetch('/api/v1/inventory?type=on-shelf');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('on-shelf').innerText = data['count']
    }
    get_student_count()

    async function get_teacher_count() {
        const response = await fetch('/api/v1/inventory?type=on-cart');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('on-cart').innerText = data['count']
    }
    get_teacher_count()

    async function get_book_count() {
        const response = await fetch('/api/v1/inventory?type=borrowed');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('borrowed-books').innerText = data['count']
    }
    get_book_count()
</script>


<script>
    $('#books').dataTable({
        "ordering": false,

    });

    $('#archived').dataTable({
        "ordering": false,

    });

    $('#reserved').dataTable({
        "ordering": false,

    });


</script>


<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

{%endblock content%}