{% extends 'app.html'%}

{% load static %}

{% block content%}
{% include 'sidebar.html' %}

<!-- Start Page Content -->
<div class="col-12 col-sm-9 col-md-9 col-lg-10 col-xl-10 d-flex flex-column h-sm-100"">
    <main class=" row overflow-auto p-3">
    <h3 class="text-theme">Log History</h3>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Log History</li>
        </ol>
    </nav>

    <div class="container">

        <div class="mb-3">
            <div class="d-flex">
                <form>
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-theme text-white" id="basic-addon1"><span
                                class="bx bx-user"></span></span>
                        <input type="text" class="form-control" placeholder="Search" name="key" value="{{key}}">
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            {% for log in logs %}
            <div class="col-lg-4 p-1">
                <div class="bg-white shadow">
                    <div class="p-3">
                        <div class="d-flex justify-content-center mb-3">
                            <img src="{% static 'images/log.jpg'%}" class="img-fluid" width="150">
                        </div>

                        <div class="text-theme lead text-truncate">{{ log.day|date:"F d, Y - l" }}</div>
                        <div>
                            <span class="bx bx-history"></span> {{log.count}} logs 
                        </div>

                        <div class="d-flex justify-content-end">
                            <a class="btn btn-theme" href='/logs/{{ log.day|date:"F d, Y - l" }}'>View</a>
                        </div>

                    </div>
                </div>
            </div>


            {% endfor %}
        </div>



    </div>

    </main>
</div>
<!-- End Page Content -->


{%endblock content%}