{% extends 'app.html'%}

{% load static %}

{% block content%}
{% include 'sidebar.html' %}

<!-- Start Page Content -->
<div class="col d-flex flex-column h-sm-100"">
    <main class=" row overflow-auto p-3">
    <h3 class="text-theme">Add Book</h3>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/books" class="text-theme">Books</a></li>
            <li class="breadcrumb-item">Add Book</li>
        </ol>
    </nav>

    <div class="container">
        <div class="card">
            <div class="card-header bg-theme text-white">
                Add Book Form
            </div>

            <div class="card-body">
                <form class="" id="add-book" method="POST">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 form-group mb-3">
                            <label>Barcode</label>
                            <input type="text" id="barcode" name="barcode" class="form-control" placeholder="Barcode">
                            <div class="is-invalid"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 form-group mb-3">
                            <label>Category</label>
                            <select id="category_id" name="category_id" class="form-select">
                                <option value="">--select--</option>
                                {%for cat in categories%}
                                <option value="{{cat.id}}">{{cat.name}}</option>
                                {% endfor %}
                            </select>
                            <div class="is-invalid"></div>
                        </div>

                        <div class="col-xl-6 col-lg-6 form-group mb-3">
                            <label>Title</label>
                            <input type="text" id="title" name="title" class="form-control" placeholder="Title">
                            <div class="is-invalid"></div>
                        </div>

                        <div class="col-xl-6 col-lg-6 form-group mb-3">
                            <label>Authors (separate name by comma)</label>
                            <input type="text" id="authors" name="authors" class="form-control" placeholder="Authors">
                            <div class="is-invalid"></div>
                        </div>

                        <div class="col-xl-6 col-lg-6 form-group mb-3">
                            <label>Date Published</label>
                            <input type="date" id="publish_date" name="publish_date" class="form-control"
                                placeholder="dd-mm-yyyy">
                            <div class="is-invalid"></div>
                        </div>

                        <div class="col-xl-6 col-lg-6 form-group mb-3">
                            <label>Publisher</label>
                            <input type="text" id="publisher" name="publisher" class="form-control"
                                placeholder="Publisher">
                            <div class="is-invalid"></div>
                        </div>


                        <div class="col-xl-6 col-lg-6 form-group mb-3">
                            <label>Condition</label>
                            <select id="condition" name="condition" class="form-select">
                                <option value="">--select--</option>
                                <option value="old">Old</option>
                                <option value="old">New</option>
                            </select>
                            <div class="is-invalid"></div>
                        </div>

                        <div class="col-xl-6 col-lg-6 form-group mb-3">
                            <label>Total Quantity</label>
                            <input type="text" id="available_quan" name="available_quan" class="form-control"
                                placeholder="Total Quantity">
                            <div class="is-invalid"></div>
                        </div>

                        <div class="col-xl-6 col-lg-6 form-group mb-3">
                            <label>Do you want to archive this book?</label>
                            <select id="is_archived" name="is_archived" class="form-select">
                                <option value="True">Yes</option>
                                <option value="False" selected>No</option>
                            </select>
                            <div class="is-invalid"></div>
                        </div>

                        <div class="col-12 form-group mb-3">
                            <label>Preface</label>
                            <textarea type="text" id="preface" name="preface" class="form-control" placeholder="Preface"
                                rows="8"></textarea>
                            <div class="is-invalid"></div>
                        </div>

                    </div>

                    <div class="d-flex justify-content-end">
                        <div>
                            <a class="btn btn-danger" onclick="history.back()">Cancel</a>
                            <button type="submit" class="btn btn-theme">Done</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>

    </main>
</div>
<!-- End Page Content -->

<script>
    const validation = new window.JustValidate('#add-book', {
        errorFieldCssClass: 'is-invalid',
    });

    validation
        .addField('#barcode', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .addField('#category_id', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .addField('#title', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .addField('#authors', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .addField('#publish_date', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .addField('#publisher', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .addField('#condition', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .addField('#available_quan', [{
            rule: 'required',
            errorMessage: 'This field is required',
        }, {
            rule: 'number',
            errorMessage: 'Input a valid number',
        }])
        .onSuccess((event) => {
            document.getElementById("add-book").submit();
        });
</script>

<!-- <script>
    var total_quan = document.getElementById('available_quan');
    var old_quan = document.getElementById('old_quan');
    var new_quan = document.getElementById('new_quan');

    function get_total_quan(){
        total_quan.value = parseInt(old_quan.value) + parseInt(new_quan.value);
    }
</script> -->

{%endblock content%}