@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', 'Arial';
    box-sizing: border-box;
    
}

a {
    text-decoration: none !important;
}

.align-icon {
    vertical-align: middle;
}

/*Navbar CSS*/
.current-page {
    border-left: 3px solid white;
}

.nav-item:hover {
    border-left: 3px solid white;
}


/* Bootstrap Custom CSS*/
.btn {
    border-radius: 0 !important;
}

.form-control {
    border-radius: 0 !important;
}

.bg-unseen {
    background-color: #f1f1f1;
}

.bg-sidebar {
    background-color: #4267B2;
}

.bg-theme {
    background-color: #4267B2;
}

.text-theme {
   color: #4267B2;
}

.btn-theme {
    background-color: #4267B2;
    color: white;
}


.btn-theme:hover {
    background-color: white !important;
    border:  1px solid #4267B2 !important;
    color: #4267B2 !important;
}



/* this is needed to make the content scrollable on larger screens */
@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
}


/*BX Icons*/
.bx-1 {
    font-size: 1rem;
}

.bx-2 {
    font-size: 2rem;
}

.bx-3 {
    font-size: 3rem;
}

.bx-4 {
    font-size: 4rem;
}

.bx-5 {
    font-size: 5rem;
}