{% extends 'app.html'%}

{% load static %}

{% block content%}
{% include 'sidebar.html' %}

<!-- Start Page Content -->
<div class="col d-flex flex-column vh-100">
    <main class=" row overflow-auto p-3">
    <h3 class="text-theme">Change Password</h3>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Change Password</li>
        </ol>
    </nav>

    <div class="container">
        <div class="card col-xl-6">
            <div class="card-header bg-theme text-white">
                Change Password Form
            </div>

            <div class="card-body">
                <form class="" id="change-password" method="POST">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col form-group mb-3">
                            <label>Old Password</label>
                            <input type="password" id="oldpassword" name="oldpassword" class="form-control" placeholder="Old Password">
                            <div class="is-invalid"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col form-group mb-3">
                            <label>New Password</label>
                            <input type="password" id="newpassword" name="newpassword" class="form-control" placeholder="New Password">
                            <div class="is-invalid"></div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col form-group mb-3">
                            <label>Confirm New Password</label>
                            <input type="password" id="newpassword1" name="newpassword1" class="form-control" placeholder="Confirm New Password">
                            <div class="is-invalid"></div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end">
                        <div>
                            <a class="btn btn-danger" onclick="history.back()">Cancel</a>
                            <button type="submit" class="btn btn-theme">Done</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>

    </main>
</div>
<!-- End Page Content -->

<script>
    const validation = new window.JustValidate('#change-password', {
        errorFieldCssClass: 'is-invalid',
    });

    validation
        .addField('#oldpassword', [{
            rule: 'required',
            errorMessage: 'This field is required',
        }, {
            validator: () => {
                var func = async function validate() {
                    const response = await fetch('/api/v1/validate-password?password=' + document.getElementById('oldpassword').value);
                    const data = await response.json(); // Extracting data as a JSON Object from the response
                    return data['valid']
                }
                return func;
            },
            errorMessage: 'Wrong password',
        }])
        .addField('#newpassword', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .addField('#newpassword1', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },{
            validator: () => {
                if (document.getElementById('newpassword').value != document.getElementById('newpassword1').value) {
                    return false;
                } else {
                    return true;
                }

            },
            errorMessage: 'Password did not match',
        }])
        .onSuccess((event) => {
            document.getElementById("change-password").submit();
        });
</script>

{%endblock content%}