{% load static %}
<!-- Start Sidebar -->
<div class="col-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 bg-sidebar d-flex sticky-top p-2 overflow-auto mh-100">
    <div
        class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
        <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5">
                <div class="d-flex justify-content-center">
                    <img src="{% static 'images/bcc-logo.png'%}" width="100" class="d-none d-sm-block">
                </div>
                <div class="d-flex text-center">
                    <span class="d-none d-sm-inline">Library Monitoring and Books Inventory</span>
                </div>
            </span>
        </a>

        <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start
        " id="menu">
            {% if request.user.is_superuser%}
            <small class="d-none d-sm-inline">Admin</small>
            <li class="nav-item d-flex justify-content-center p-1 {% if page == 'dashboard' %}current-page{% endif %}">
                <a href="/dashboard" class="nav-link px-sm-0 px-2 text-white">
                    <i class="bx bx-grid"></i>
                    <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                </a>
            </li>

            <small class="mt-2 d-none d-sm-inline">Users</small>
            <li class="nav-item d-flex justify-content-center p-1 {% if page == 'students' %}current-page{% endif %}">
                <a href="/students" class="nav-link px-sm-0 px-2 text-white">
                    <i class="bx bx-face"></i>
                    <span class="ms-1 d-none d-sm-inline">Students</span>
                </a>
            </li>

            <li class="nav-item d-flex justify-content-center p-1 {% if page == 'teachers' %}current-page{% endif %}">
                <a href="/teachers" class="nav-link px-sm-0 px-2 text-white">
                    <i class="bx bx-user"></i>
                    <span class="ms-1 d-none d-sm-inline">Teachers</span>
                </a>
            </li>
            {% endif %}

            <small class="mt-2 d-none d-sm-inline">Books</small>
            {% if request.user.is_superuser%}

            <li class="nav-item d-flex justify-content-center p-1 {% if page == 'book-dashboard' %}current-page{% endif %}">
                <a href="/book-dashboard" class="nav-link px-sm-0 px-2 text-white">
                    <i class="bx bx-book-content"></i>
                    <span class="d-none d-sm-inline">Book Dashboard</span></a>
                </a>
            </li>

            <li class="nav-item d-flex justify-content-center p-1 {% if page == 'borrow-book' %}current-page{% endif %}">
                <a href="/borrow-book" class="nav-link px-sm-0 px-2 text-white">
                    <i class="bx bx-book-open"></i>
                    <span class="d-none d-sm-inline">Borrow Book</span></a>
                </a>
            </li>

            <li class="nav-item d-flex justify-content-center p-1 {% if page == 'return-book' %}current-page{% endif %}">
                <a href="/return-book" class="nav-link px-sm-0 px-2 text-white">
                    <i class="bx bx-book-alt"></i>
                    <span class="d-none d-sm-inline">Return Book</span></a>
                </a>
            </li>

            <li class="nav-item d-flex justify-content-center p-1 {% if page == 'add-book' %}current-page{% endif %}">
                <a href="/books/add" class="nav-link px-sm-0 px-2 text-white">
                    <i class="bx bx-book-add"></i>
                    <span class="d-none d-sm-inline">Add Book</span></a>
                </a>
            </li>

            <li class="nav-item d-flex justify-content-center p-1 {% if page == 'book-categories' %}current-page{% endif %}">
                <a href="/book-categories" class="nav-link px-sm-0 px-2 text-white">
                    <i class="bx bx-category"></i>
                    <span class="d-none d-sm-inline">Book Categories</span></a>
                </a>
            </li>
            {% endif %}
            <li class="nav-item d-flex justify-content-center p-1 {% if page == 'books' %}current-page{% endif %}">
                <a href="/books" class="nav-link px-sm-0 px-2 text-white">
                    <i class="bx bx-book-alt"></i>
                    <span class="ms-1 d-none d-sm-inline">Book List</span></a>
                </a>
            </li>
            {% if request.user.is_superuser%}
            <small class="mt-2 d-none d-sm-inline">Monitoring and Inventory</small>
            <li class="nav-item d-flex justify-content-center p-1">
                <a href="/log-window" target="_blank" class="nav-link px-sm-0 px-2 text-white">
                    <i class="bx bx-rocket"></i>
                    <span class="d-none d-sm-inline">Log Window</span></a>
                </a>
            </li>

            <li class="nav-item d-flex justify-content-center p-1 {% if page == 'logs' %}current-page{% endif %}">
                <a href="/logs" class="nav-link px-sm-0 px-2 text-white">
                    <i class="bx bx-history"></i>
                    <span class="d-none d-sm-inline">Log History</span></a>
                </a>
            </li>

            <li class="nav-item d-flex justify-content-center p-1 {% if page == 'inventory' %}current-page{% endif %}">
                <a href="/inventory" class="nav-link px-sm-0 px-2 text-white">
                    <i class="bx bx-stats"></i>
                    <span class="ms-1 d-none d-sm-inline">Inventory</span>
                </a>
            </li>
            <small class="mt-2 d-none d-sm-inline">Others</small>
            <li class="nav-item d-flex justify-content-center p-1">
                <a href="" class="nav-link px-sm-0 px-2 text-white" data-bs-toggle="modal" data-bs-target="#edit_privacy_policy">
                    <i class="bx bx-file"></i>
                    <span class="ms-1 d-none d-sm-inline">Edit Privacy Policy</span>
                </a>
            </li>
            {% endif %}

            <small class="mt-2 d-none d-sm-inline">Profile</small>
            <li class="nav-item d-flex justify-content-center p-1 {% if page == 'my-profile' %}current-page{% endif %}">
                <a href="" class="nav-link px-sm-0 px-2 text-white">
                    <i class="bx bx-user"></i>
                    <span class="d-none d-sm-inline">My Profile </span>
                    <span id="fine_count">
                        
                    </span>
                </a>
                </a>
            </li>

            <li class="nav-item d-flex justify-content-center p-1 {% if page == 'change-password' %}current-page{% endif %}">
                <a href="/change-password" class="nav-link px-sm-0 px-2 text-white">
                    <i class="bx bx-key"></i>
                    <span class="d-none d-sm-inline">Change Password</span></a>
                </a>
            </li>

            <li class="nav-item d-flex justify-content-center p-1">
                <a href="/logout" class="nav-link px-sm-0 px-2 text-white">
                    <i class="bx bx-log-out"></i>
                    <span class="d-none d-sm-inline">Log Out</span></a>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="modal fade" id="edit_privacy_policy" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Privacy Policy</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="edit-privacy-policy" id="edit-privacy-policy">
                <textarea class="form-control" cols="12" rows="12" name="privacy-policy" id="privacy-policy"></textarea>        
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-theme">Save</button>
            </form>       
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- End Sidebar -->

<script>
     fetch(`/api/v1/notif-count`)
        .then(response => response.json())
        .then(data => {
            if (data['count'] > 0){
                field = document.querySelector('#fine_count')
                field.className = 'badge rounded-pill bg-danger';
                field.innerText = data['count']
            }
        })
        .catch(error => {
            // Handle any errors that occurred during the fetch request
            console.log('An error occurred:', error);
        });  

     fetch(`/api/v1/privacy-policy`)
        .then(response => response.json())
        .then(data => {
           document.querySelector('#privacy-policy').innerText = data['privacy-policy']
        })
        .catch(error => {
            // Handle any errors that occurred during the fetch request
            console.log('An error occurred:', error);
        });  

    const validation = new window.JustValidate('#edit-privacy-policy', {
        errorFieldCssClass: 'is-invalid',
    });
    validation
        .addField('#privacy-policy', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .onSuccess((event) => {
            const formData = new FormData(document.querySelector('#edit-privacy-policy'));
            const postData = {};
            for (const [key, value] of formData.entries()) {
                postData[key] = value;
            }
            console.log(postData)
            
            fetch('/api/v1/privacy-policy/edit', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify(postData)
            })
            .then(response => {
                if (response.ok) {
                // Redirect the user to another page
                window.location.href = '/dashboard';
                } else {
                // Handle the error response
                throw new Error('Error: ' + response.status);
                }
            })
            .catch(error => {
                // Handle any errors
                console.error('Error:', error);
            });
        });
</script>