{% extends 'app.html'%}

{% load static %}

{% block content%}
{% include 'sidebar.html' %}

<!-- Start Page Content -->
<div class="col d-flex flex-column h-sm-100"">
    <main class=" row overflow-auto p-3">
    <h3 class="text-theme">Dashboard</h3>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Dashboard</li>
        </ol>
    </nav>


    <div class="row">
        <div class="col-lg-7">
            <div class="row">
                <div class="col-lg-4 p-1">
                    <div class="border-primary bg-white text-theme p-3 shadow">
                        <div>
                            <h4>Students</h4>
                            <h3>
                                <span class="bx bx-face"></span>
                                <span id="students">0</span>
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 p-1">
                    <div class="border-primary bg-white text-theme p-3 shadow">
                        <div>
                            <h4>Teachers</h4>
                            <h3>
                                <span class="bx bx-user"></span>
                                <span id="teachers">0</span>
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 p-1">
                    <div class="border-primary bg-white text-theme p-3 shadow">
                        <div>
                            <h4>Books</h4>
                            <h3>
                                <span class="bx bx-book"></span>
                                <span id="books">0</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col p-1">
                    <div class="card">
                        <div class="card-header text-theme">
                            Library Visits
                        </div>
                        <div class="card-body">
                            <div id="visits"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-5 p-1">
            <div class="card">
                <div class="card-header text-theme">
                    Book Fine Rate
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <div class="row text-muted">
                            <div class="col-6">Category</div>
                            <div class="col-3">Limit</div>
                            <div class="col-3">Rate</div>
                        </div>
                        {% for rate in rates %}
                        <div class="row text-theme">
                            <div class="col-6">{{rate.name}}</div>
                            <div class="col-3">{{rate.get_limit_str}}</div>
                            <div class="col-3"><b>{{rate.get_rate_str}}</b></div>
                        </div>
                        {% endfor %}

                    </ul>

                </div>
            </div>

            <div class="card mt-2">
                <div class="card-header text-theme">
                    Recent Logs
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% if recent_logs %}
                        {% for log in recent_logs %}
                        <li class="list-group-item">{{log.user.first_name}} {{log.user.middle_name}}
                            {{log.user.last_name}} {{log.user.ext_name}}
                            <span
                                class="{% if log.action == 'has login' %}text-success{% else %}text-danger{% endif %}">{{log.action}}</span>.
                        </li>
                        {% endfor %}
                        {% else %}
                        <li class="list-group-item">No Recent Logs</li>
                        {% endif %}
                    </ul>
                </div>
            </div>


        </div>
    </div>

    </main>
</div>
<!-- End Page Content -->

<script>
    async function render_histogram() {
        const response = await fetch('/api/v1/visit-histogram');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        var date_format = { year: 'numeric', month: 'short' };
        var formatted_date = new Array()

        for (const date of data['x_label']) {
            formatted_date.push(new Date(date).toLocaleDateString("en-US", date_format))
        }

        var options = {
            chart: {
                height: 380,
                type: "bar",
                toolbar: {
                    show: false
                }
            },
            dataLabels: {
                enabled: false
            },
            series: [
                {
                    name: "Visits",
                    data: data['series']
                }
            ],
            fill: {
                type: "solid",
            },
            xaxis: {
                categories: formatted_date
            }
        };



        var chart = new ApexCharts(document.querySelector("#visits"), options);
        chart.render();
    }
    render_histogram();
</script>

<script>
    async function get_student_count() {
        const response = await fetch('/api/v1/get-student-count');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('students').innerText = data['count']
    }
    get_student_count()

    async function get_teacher_count() {
        const response = await fetch('/api/v1/get-teacher-count');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('teachers').innerText = data['count']
    }
    get_teacher_count()

    async function get_book_count() {
        const response = await fetch('/api/v1/get-book-count');
        const data = await response.json(); // Extracting data as a JSON Object from the response

        document.getElementById('books').innerText = data['count']
    }
    get_book_count()
</script>

{%endblock content%}