{% extends 'app.html'%}

{% load static %}

{% block content%}
{% include 'sidebar.html' %}

<!-- Start Page Content -->
<div class="col d-flex flex-column h-sm-100"">
    <main class=" row overflow-auto p-3">
    <h3 class="text-theme">Add Category</h3>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/book-categories" class="text-theme">Book Categories</a></li>
            <li class="breadcrumb-item">Add Category</li>
        </ol>
    </nav>

    <div class="container">
        <div class="card col-lg-6">
            <div class="card-header bg-theme text-white">
                Add Category Form
            </div>

            <div class="card-body">
                <form class="" id="add-category" method="POST">
                    {% csrf_token %}

                    <div class="row">
                        <div class="form-group mb-3">
                            <label>Category Name: </label>
                            <input type="text" id="name" name="name" class="form-control" placeholder="Category Name" value="">
                            <div class="is-invalid"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6 form-group mb-3">
                            <label>Limit in hours: </label>
                            <input type="text" id="limit" name="limit" class="form-control" placeholder="Limit" value="">
                            <div class="is-invalid"></div>
                        </div>

                        <div class="col-xl-6 col-lg-6 form-group mb-3">
                            <label>Rate in hours: </label>
                            <input type="text" id="rate" name="rate" class="form-control"
                                placeholder="Rate" value="">
                            <div class="is-invalid"></div>
                        </div>

                    </div>

                    <div class="d-flex justify-content-end">
                        <div>
                            <a class="btn btn-danger" onclick="history.back()">Cancel</a>
                            <button type="submit" class="btn btn-theme">Done</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>

    </main>
</div>
<!-- End Page Content -->

<script>
    const validation = new window.JustValidate('#add-category', {
        errorFieldCssClass: 'is-invalid',
    });

    validation
        .addField('#name', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },])
        .addField('#limit', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },
        {
            rule: 'customRegexp',
            value: /^\d*\.?\d*$/,
            errorMessage: 'Please input a valid number',
        }])
        .addField('#rate', [{
            rule: 'required',
            errorMessage: 'This field is required',
        },
        {
            rule: 'customRegexp',
            value: /^\d*\.?\d*$/,
            errorMessage: 'Please input a valid number',
        },])
        .onSuccess((event) => {
            document.getElementById("add-category").submit();
        });
</script>

<!-- <script>
    var total_quan = document.getElementById('available_quan');
    var old_quan = document.getElementById('old_quan');
    var new_quan = document.getElementById('new_quan');

    function get_total_quan(){
        total_quan.value = parseInt(old_quan.value) + parseInt(new_quan.value);
    }
</script> -->

{%endblock content%}